# PostgreSQL
POSTGRES_USER=sensors
POSTGRES_PASSWORD=
POSTGRES_DB=sensors
POSTGRES_PORT=5432


# Grafana Admin
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=


# MQTT
MQTT_USERNAME=esp32
MQTT_PASSWORD=

# Python-Ingestor
MQTT_TOPIC=sensors/esp32/#
MQTT_HOST=mosquitto
MQTT_PORT=1883


PGHOST=postgres
PGPORT=5432
PGDATABASE=${POSTGRES_DB}
PGUSER=${POSTGRES_USER}
PGPASSWORD=${POSTGRES_PASSWORD}